* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_bg_top.png") center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}

.promo .promo_text {
    padding: 0, 13px;
    margin-top: 23px;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_text span {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #F9BF3B;
}

.promo .promo_btn, .gift .promo_btn {
    display: block;
    margin: 72px auto;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-color: #2798B9;
    
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);

    cursor: pointer;
    outline: none;  
}
.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;;
}

.title {
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    margin: 20.5px;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-weight: 200;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {    
    color: #EFEFEF;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18.5px;
}

.waiting .waiting_wrapper {
    margin-top: 45.5px;
}

.waiting .waiting_wrapper .waiting_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 15px;
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
    height: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
    margin-top: 26px;
}

.optimization {
    max-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_img {
    position: absolute;
    width: 868px;
    height: 502px;
    left: -240px;
    top: 47px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/bg/second_bg.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background: #B4E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 26.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

.gift {
    height: 631px;
    background: #EFEFEF;
    padding: 86px 0 87px 0;
}

.gift .gift_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.gift .gift_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #252525;

    margin-top: 45px;
}

.gift .promo_btn {
    margin-top: 51px;
}

.webinar {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 81px;
}

.webinar .waiting_img {
    display: block;
    margin: 0 auto;
}

.webinar .webinar_black_header {
    font-family: Roboto;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
    margin-top: 36px;
}

.webinar .webinar_date_header {
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.webinar .webinar_last_header {
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    margin-top: 24.5px;
}

.footer {
    min-height: 169px;
    background: #1A1A1A;
    margin-top: 52.5px;
}

.footer .footer_text {
    display: block;
    text-align: center;
    padding: 57px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;

}

.footer .footer_text .footer_link {
    color:   #888888;
}